$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
//custom :scss
@import "login.scss";

//end custom


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.footer{
  margin: auto;
  width: 300px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #AFC7C5;;
  height: 50px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.carousel-fix{
  margin: auto;
  width: 900px;
  height: 475px;
}

.main-view{
  border-top: 1px solid #1886BE;
  padding-top: 25px;
  .item >img{
    height: 475px;
    width: 900px;
  }
}

.header-title{
  margin-left: 30px;
  font-weight: 800;
}

.list-content{
  background-color: #fff;
  padding: 0 15px;
}

.header{
  .logo-main{
    display: inline-block;
    padding-left: 80px;
    margin-bottom: -5px;
    img{
      float: left;
      height: 45px;
      padding: 0 5px;
    }

    >.trademark{
      display: inline-block;
      span{
        font-size: 35px;
        font-weight: 800;
      }
      span:first-child{
        color: #2073a5;
      }
      span:last-child{
        color:#464646;
      }
    }
  }
  .menu-container{
    float: right;
    display: inline-block;
  } 
  .search-container{
    float: right;
    display: inline-block;
    position: relative;
    .search-btn{
      position: absolute;
      top: 0;
      bottom: 0;
      height: 28px;
      margin: auto;
      width: 28px;
      right: 3px;
      border: none;
      color: #fff;
      background-color: #1975CF;
    }
  } 
  
}
.header.ng-hide +div{
  border: none;
}

.li:hover{
  color: #fff;
  background-color: #428bca;
}