<div class="container-fluid">
	<!-- left tree view-->
	<div class="row col-xs-3 left-view ">
		<ul class="list-group">
		  <li class="list-group-item">
		    <span class="badge">14</span>Work
		  </li>
		  <li class="list-group-item">
		    <span class="badge">2</span>Shopping
		  </li>
		  <li class="list-group-item">
		    <span class="badge">100</span>Book to read
		  </li>
		  <li class="list-group-item">
		    <span class="badge">1</span>Target
		  </li>
		  <li class="list-group-item">
		    <span class="badge">0</span> todo
		  </li>
		  <li class="list-group-item">
		    <span class="badge">1</span>  todo
		  </li>
		  <li class="list-group-item">
		    <span class="badge">1</span> todo
		  </li>
		  <li class="list-group-item">
		    <span class="badge">1</span> todo
		  </li>
		  <li class="list-group-item">
		    <span class="badge">1</span> todo
		  </li>
		  <li class="list-group-item">
		    <span class="badge">1</span> todo
		  </li>
		</ul>
	</div>
	<!-- list view-->
	<div class="row col-xs-9 ">
		<div class="list-content">
			<div>
				<input type="text" ng-model="bookname"/>
				<button type="button" ng-click="search()">Search</button>
			</div>
			<table class="table table-hover  ">
			<thead>
				<th>No.</th>
				<th>priorty</th>
				<th>title</th>
				<th>description</th>
				<th>status</th>
			</thead>
			<tr ng-repeart="book in data">
				<td>{{index}}</td>
				<td>{{book.title}}</td>
				<td>{{book.author}}</td>
				<td>{{book.description}}</td>
				<td>buy</td>
			</tr>
		</table>
		</div>
	</div>
</div>