<div class="container-fluid book-search">
<div dt-link text="click me" nameTest="www.google.com" dt-plink>
  
</div>
	<!-- left tree view-->
	<div class="row col-xs-3 left-view ">
		<ul class="list-group">
		  <li class="list-group-item" ng-repeat="c in category">
		    <span class="badge">{{c.count}}</span>{{c.title}}
		  </li>
		</ul>
	</div>
	<!-- list view-->
	<div class="row col-xs-9 ">
		<div class="list-content">
			<div class="search-bar">
				<input type="text" class="form-control" ng-model="bookname" ng-keypress="enterSearch($event)"/>
				<button type="button" class="btn btn-primary" ng-click="search()">Search</button>
			</div>
			<table class="table table-hover  ">
			<thead>
				<th>No.</th>
				<th>Name</th>
				<th>Author/Pub</th>
				<th>description</th>
				<th>status</th>
			</thead>
			<tr ng-repeat="book in books">
				<td>{{$index+1}}</td>
				<td>{{book.title}}</td>
				<td>{{book.author}}</td>
				<td>{{book.description}}</td>
				<td><span class="badge">sold out</span></td>
			</tr>
		</table>
		</div>
	</div>
</div>
<script>
(function($){
	$(document).ready(function() {
		$('body').on('click', '.book-search .list-group-item', function(event) {
			event.preventDefault();
			var current = $(this);
			if(!current.hasClass('selected')){
				//remove previous
				$('.book-search .list-group-item.selected').removeClass('selected');
				//add current	
				$(this).addClass('selected');
			}
			
		});
	});
})(jQuery);
</script>