<form class="navbar-form navbar-left form-search pull-right" role="search">
  <div class="form-group ">
    <input type="text" class="form-control search-query" placeholder="Search">
  </div>
</form>
<ul class="nav nav-pills pull-right" role="tablist" >
  <li class="active" role="presentation"><a ng-href="#">Home</a></li>
  <li role="presentation" ><a ng-href="#/todolist">Todoist</a></li>
  <li role="presentation"><a ng-href="#/about">About</a></li>
  <li role="presentation"><a ng-href="#">Contact</a></li>
</ul>

<h3 class="text-muted header-title">My ToDoist </h3>