<div class="login-container">
	<div class="logo">
		<img src="/images/logo.png">
		<div class="trademark"><span>My</span><span>TODOIST</span></div>
	 </div>
	 <form class="form" role="form">
	 		<div class="form-group">
	 			<label>Username</label>
	 			<input type="text" class="form-control" placeholder="Username"/>
	 		</div>
	 		<div class="form-group">
	 			<label>Password</label>
	 			<input type="password" class="form-control" placeholder="Password"/>
	 		</div>
	 		<div class="form-group">
	 			<input type="checkbox" />Remember Me
	 			<button class="btn btn-default btn-primary">Login In</button>
	 		</div>
	 </form>
</div>
